db.sqlite3
.phonebook
env
.env



config/__pycache__/
phonebook/__pycache__/
phonebook/migrations/*
phonebook_api/__pycache__/
users/__pycache__/

**/migrations/*
!**/migrations/__init__.py

staticfiles/

