db.sqlite3
.phonebook
env
.env

users/__pycache__/__init__.cpython-312.pyc
users/__pycache__/admin.cpython-312.pyc
users/__pycache__/apps.cpython-312.pyc
users/__pycache__/forms.cpython-312.pyc
users/__pycache__/models.cpython-312.pyc
users/__pycache__/urls.cpython-312.pyc
users/__pycache__/views.cpython-312.pyc

phonebook/__pycache__/__init__.cpython-312.pyc
phonebook/__pycache__/admin.cpython-312.pyc
phonebook/__pycache__/apps.cpython-312.pyc
phonebook/__pycache__/forms.cpython-312.pyc
phonebook/__pycache__/models.cpython-312.pyc
phonebook/__pycache__/urls.cpython-312.pyc
phonebook/__pycache__/views.cpython-312.pyc


config/__init__.py
config/__pycache__/__init__.cpython-312.pyc
config/__pycache__/settings.cpython-312.pyc
config/__pycache__/urls.cpython-312.pyc
config/__pycache__/wsgi.cpython-312.pyc

phonebook/migrations/0001_initial.py
phonebook/migrations
phonebook/migrations
phonebook/migrations/0002_alter_contact_email_alter_contact_job.py
phonebook/__pycache__
phonebook/migrations/__pycache__
config/__pycache__

users/__pycache__/__init__.cpython-311.pyc
users/__pycache__/admin.cpython-311.pyc
users/__pycache__/apps.cpython-311.pyc
users/__pycache__/forms.cpython-311.pyc
users/__pycache__/models.cpython-311.pyc
users/__pycache__/urls.cpython-311.pyc
users/__pycache__/views.cpython-311.pyc

phonebook/migrations/0001_initial.py
phonebook/migrations/0002_alter_contact_email_alter_contact_job.py

users/migrations/__pycache__/__init__.cpython-311.pyc

*.pyc

phonebook/migrations/0001_initial.py
phonebook/migrations/0002_alter_contact_email_alter_contact_job.py

