services:
  web:
     build: .
     container_name: phonebook_app
     command: python manage.py runserver 0.0.0.0:8000
     ports: 
       - "8000:8000"
     environment:
       - PYTHONDONTWRITEBYTECODE=1
       - PYTHONUNBUFFERED=1

     volumes:
       - .:/app
     depends_on:
       - db


  db:
    image: mysql:8.0
    restart: always
    container_name: phonebook_db
    environment:
       MYSQL_DATABASE: ${DB_NAME}
       MYSQL_USER: ${DB_USER}
       MYSQL_PASSWORD: ${DB_PWD}
       MYSQL_ROOT_PASSWORD: ${DB_ROOT_PWD}
    ports:
      - "3306:3306"

    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
