version: "3.9"

services:
  web:
     build: .
     container_name: phonebook_app
     command: python manage.py runserver 0.0.0.0:8000
     ports: 
       - "8000:8000"
     environment:
       - PYTHONDONTWRITEBYTECODE=1
       - PYTHONUNBUFFERED=1

